.App {
    text-align: center;
}


.counter {
    background: #412d2d;
    width: 400px;
    height: 400px;
}

.display {
    border-radius: 15px;
    width: 50%;
    height: 30%;
    background: #e0c0c0;
    margin: auto;
}


.maxCount {
    color: red;
}
